# Project exclude paths
/.gradle/
/build/
/departure.repository/build/
/departure.service/build/

.idea/
*.iml
*.ipr
*.iws

/mydb.tmp/
/mydb.lck
/mydb.log
/mydb.properties
/mydb.script

/.idea/
/.idea/sonarlint/
.idea/
*.iml
*.ipr
*.iws
*.